.card img{
    max-height: 200px;
    max-width: 140px;
    align-self: center;
}


.card .price{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.navbar-light .navbar-nav .nav-link a:hover {
    color: red !important;
}